:root {
  --dark-bg-color: #121212;
  --border-radius: 8px;
  --dark-gray-color: #363636;
  --page-margin: 0 200px;
}

.navbar {
  display: flex;
  background-color: #121212;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.6rem;
}

.nav-logo {
  width: 50px;
  height: 50px;
}

.nav-logo .nestor-logo {
  background: url('../src/assets/nestorlogo.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.navbar .nav-items {
  display: flex;
}
.navbar .nav-items .nav-item {
  color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  margin-right: 0.5rem;
  padding: 1.3rem;
}
.navbar .nav-items .nav-item:hover {
  background-color: #0f3624;
}

.page-margin {
  padding: var(--page-margin);
}

.landing {
  background-image: url("../src/assets/background.svg");
  background-position: 0% 0%;
  background-size: cover;
  background-color: #121212;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 1, 1, 0.7);
  z-index: -1;
}
.landing .intro {
  text-align: center;
}
.landing .intro h1 {
  font-size: 4.8rem;
  position: relative;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin-bottom: 1.7rem;
  background: linear-gradient(36deg, #0fff9b, #137cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing .intro h2 {
  font-size: 2.4rem;
  color: white;
  margin-bottom: 2rem;
  position: relative;
}
.landing .intro button {
  border: 2px solid var(  --dark-gray-color);
  border-radius: 50px;
  background: var(  --dark-gray-color);
  color: white;
  cursor: pointer;
  padding: 1.2rem 1.8rem;
  font-size: 1.4rem;
  transition: all 200ms ease 0s;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.sections {
  background-color: #f8f8ff;
  padding: 50px 0;
}
.sections h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.skills-container {
  display: flex;
}

.skills-container .image {
  flex-basis: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-container .image img {
  width: 80%;
}
.skills-container .skill-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 10px;
  width: 100%;
}

.box-1 {
  grid-column: 1 / span 1; /* position in the first column */
  grid-row: 1 / span 1; /* position in the first row */
}

.box-2 {
  grid-column: 2 / span 1; /* position in the second column */
  grid-row: 1 / span 1; /* position in the first row */
}

.box-3 {
  grid-column: 1 / -1; /* position in the first column and span to the last column */
  grid-row: 2 / span 1; /* position in the second row */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.box-3 h3 {
  grid-column: 1 / span 2;
}



.skills-container .skill-set .skill-box {
  border-radius: var(--border-radius);
  background: white;
  width: 100%;
  padding: 4%;
  line-height: 1.5;
  box-sizing: border-box;
}
.skills-container .skill-set .skill-box h3 {
  font-size: 17px;
  font-weight: bold;
}

.skills-container .skill-set .skill-box p {
  font-size: 12px;
}

.experience-section {
  background-color: #121212;
}

.experience-section h2 {
  color: #f1f1f1;
}

.project-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-info-header {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.project-info-header img {
  width: 35px;
  margin-right: 10px;
}

.project-info-header p {
  font-size: 20px;
  font-weight: 600;
  color: #f1f1f1;
}

.project-info-header.light p {
  color: #252525;
  font-size: 25px;
}

.project-info-header p span {
  color: #686868;
  display: block;
  font-size: 10px;
  font-weight: normal;
  margin-top: 2px;
}

.project-info-header.light p span {
  color: #383838;
}

.project-details {
  font-size: 13px;
  line-height: 1.5;
  color: #606060;
}

.project-presentation {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-presentation video {
  width: 100%;
  border-radius: 5px;
}

.project-icons {
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.project-icons .icon {
  width: 100%;
  text-align: center;
  margin: 0% 0.5%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}

.project-icons .icon i, .project-icons .icon img {
  font-size: 27px;
  width: 27px;
}

.project-icons .icon i.fa-angular {
  color: #de002d;
}

.project-icons .icon i.fa-sass {
  color: #61dafb;
}

.project-icons .icon p {
  color: #777;
  font-size: 10px;
  margin-top: 5px;
}

.project-section .project-icons i.fa-js-square {
  color: #fddf17;
}

.project-section .project-icons i.fa-react {
  color: #61dafb;
}

/* .project-slideshow {
  border: 3px solid rgb(216, 216, 216);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.project-slideshow-body {
  margin: 1% auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
} */

.project-sideshow-container {
  border: 3px solid #d8d8d8;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.project-slideshow-body {
  margin: 1% auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.project-image {
  width: 90%;
  border-radius: 3px;
  display: ${props => (props.loaded ? 'block' : 'none')};
}

.project-info {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  padding: 2%;
  width: 90%;
  margin: 1% auto;
}

.project-info p {
  color: #505050;
  font-size: 0.9rem;
}

.project-nav-btn {
  border: 1px solid #121212;
  border-radius: 50px;
  background: #121212;
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 2%;
  -webkit-tap-highlight-color: transparent;
}

.project-arrow {
  width: 4%;
  cursor: pointer;
  color: ${props => (props.disabled ? '#c3c3c3' : '#000')};
  -webkit-tap-highlight-color: transparent;
}

.project-box {
  width: 90%;
  height: 500px;
  background: linear-gradient(271deg, #dbdbdb, #c3c3c3);
  background-size: 400% 400%;
  border-radius: 3px;
}

.project-pagination {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.project-pagination .pag-dot {
  display: block;
  background-color: #b7b7b7;
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.project-pagination .pag-dot-active {
  background-color: #22b28e;
}
