@import "./variables.scss";

.sections {
  background-color: #f8f8ff;
  padding: 50px 0;
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }
  &.dark {
    background-color: $background-color_1;
    h2 {
      color: #f1f1f1;
    }
  }
}

.page-padding {
  padding-right: 200px;
  padding-left: 200px;
}
