$dark-bg-color: #121212;
$border-radius: 8px;
$dark-gray-color: #363636;
// $page-margin: 0 200px;

$color_1: #f0f0f0;
$color_2: white;
$light-yellow: #fff7e4;
$color_3: #f1f1f1;
$color_4: #252525;
$color_5: #686868;
$color_6: #383838;
$color_7: #606060;
$color_8: #de002d;
$color_9: #61dafb;
$color_10: #777;
$color_11: #fddf17;
$color_12: #080808;
$background-color_1: #121212;
$background-color_2: #0f3624;
$background-color_3: rgba(250, 1, 1, 0.7);
$background-color_4: #f8f8ff;
$background-color_5: #b7b7b7;
$background-color_6: #22b28e;

@mixin gradientText() {
  background: linear-gradient(36deg, #0fff9b, #137cff);
  background-size: 200% 200%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
